<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item logo" href="/">RoninN</a>
<% if user_signed_in? %>
    <a class="item">Inn</a>
    <a class="item">
        <div class="ui hidden divider"></div>
        <div class="ui floating dropdown button">
            <div class="text">Go to</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#link1"><i class="home icon"></i> Home</a>
                <a class="item" href="#link2"><i class="users icon"></i> Browse</a>
                <a class="item" href="#link3"><i class="search icon"></i> Search</a>
            </div>
        </div>
    </a>
    <a class="item">Log Out</a>
<%else%>
    <a class="item">Log In</a>
    <a class="item">Sign Up</a>
    <a class="item">
        <div class="ui hidden divider"></div>
            <div class="ui floating dropdown button">
                <div class="text">Go to</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#link1"><i class="home icon"></i> Home</a>
                    <a class="item" href="#link2"><i class="users icon"></i> Browse</a>
                    <a class="item" href="#link3"><i class="search icon"></i> Search</a>
                </div>
            </div>
        </div>
    </a>
<%end%>
  </div>
</div>