<p>Yo Sensei tu me reçois ?</p>
<h2><%= link_to 'Sign up and choose how you will change the world', new_user_registration_path%></h2>
<h2><%= link_to 'Log In', new_user_session_path%></h2>
<h2><%= link_to 'Just get around', help_path%></h2>
